h1{
    font-size: 70px;
    line-height: 90px;
    font-weight: 400;
    font-family: DauphinPlain;
    margin: 0;
    padding: 0;
}

#leftbox {
    float:left; 
    width:45%;
    height:330px;
    text-align: justify;
    margin-left: 5px;
}
#rightbox{
    float:right; 
    width:45%;
    height:330px;
    text-align: justify;
    margin-right: 5px;
}

#contact{
    font-family: "Goudy Bookletter 1911", fantasy;
}

#copyright{
    font-family: sans-serif;
    font-weight: 600;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.responsive {
    width: auto;
    max-width: 400px;
    height: auto;
}

#wrapper {
    overflow-y: scroll;
    background-color: white;
}



